<nav class="mb-5 mt-3 navbar navbar-expand-lg bg-light">
  <ol class="ps-2 mt-2 breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/entries">Lançamento</a></li>
    <li class="breadcrumb-item active">{{pageTitle}}</li>
  </ol>
</nav>

<div class="row mb-4">
  <div class="col-md-9">
    <h1 class="h2 border-left ps-2">{{pageTitle}}</h1>
  </div>
  <div class="col-md-3">
    <a routerLink="/entries" class="btn float-md-end btn-light">
      << Voltar</a>
  </div>
</div>

<form [formGroup]="entryForm" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">Informações sobre a Lançamentos</div>

    <div class="card-body">
      <div class="row">
        <div class="form-group col-md-4">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome" formControlName="nome">
          <div class="text-danger" *ngIf="entryForm.get('nome').invalid && entryForm.get('nome').touched">
            <div *ngIf="entryForm.get('nome').errors.required">dado obrigatório</div>
            <div *ngIf="entryForm.get('nome').errors.minlength">deve ter no mínimo 2 catacteres</div>
          </div>
        </div>
        <div class="form-group col-md-8">
          <label for="descricao">Descrição</label>
          <input type="text" class="form-control" id="descricao" formControlName="descricao">
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages">
    <strong>Erro no servidor:</strong>
    <ul>
      <li *ngFor="let error of serverErrorMessages">{{error}}</li>
    </ul>
  </div>
  <button [disabled]="submitTingForm || entryForm.invalid" type="submit"
    class="btn btn-primary btn-lg float-end mt-3">
    Salvar</button>
</form>
